body {
  background-image: url("../images//bg-intro-desktop.png");
  font-family: "Poppins", sans-serif;
}

#main-header {
  font-weight: 700;
}

@media screen and (max-width: 36em) {
  body {
    background-image: url("../images/bg-intro-mobile.png");
  }

  #main-header {
    margin-top: 100px;
  }
}
